.navbar{
    width:100%;
    height: 60px;
    top: 0;
    background-color: #f0f5f3;
    overflow: hidden;
    position:relative;
}

ul[id="list"]{
    margin: 0;
    padding: 0;
    list-style-type: none;
    float: right;
}

ul[id="list"] li{
    display: inline-block;
}

ul[id="list"] li a{
    display: block;
    color: #507c70;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    padding: 19px 20px;
}

ul[id="list"] li a:hover{
    background-color: #93b9ae;
    color: #f0f5f3;
}