@import "animation.css";

div[id="content"]{
    position: relative;
    margin-top: 10%;
    margin-left: -50%;
    width: 50%;
    animation-duration: 4s;
    animation-name: slideIn;
    animation-fill-mode: forwards;
}

div[id="content2"]{
    position:relative;
    margin-top:30px;
    margin-left: -50%;
    animation-delay: 0.5s;
    animation-duration: 4s;
    animation-name: slideIn;
    animation-fill-mode: forwards;
}

@keyframes slideIn {
    from {
        opacity: 0;
        margin-left: -50%;
    }
    to {
        opacity: 1;
        margin-left: 5%;
    }
}

h1 {
    font-size: 50px;
    font-weight: bold;
}

a{
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    background-color: #507c70;
    font-size: 23px;
    text-decoration: none;
    color: #d2e0d9;
}

a:hover{
    background-color: #93b9ae;
    color: #f0f5f3;
}