<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <link th:href="@{../static/css/base.css}" type="text/css" rel="stylesheet"/>
    <link th:href="@{../static/css/welcome.css}" type="text/css" rel="stylesheet"/>
</head>
<body>
    <div class="area" >
        <div id="context">
            <h1>Welcome to Mini-Survey Monkey</h1>
            <div id="button">
                <a href="/login">LOG IN</a>
                <a href="/register">SIGN UP</a>
            </div>
        </div>
        <ul class="circles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div >
</body>
</html>