<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User And Questionnaire</title>
</head>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<body>

<canvas id="myChart" height="300" width="300"></canvas>
<script>
    var questions = [[${Questionnaire.getQuestionList().toString()}]];
    var barColors = ["red", "green","blue","orange","brown"];
    var xValues = [[${Questionnaire.getQuestionList()[0].getOptions()}]];
    // var xValues = ["a","b","c","d"]
    console.log(xValues)
    var yValues = []
    for (var j = 0; j < xValues.length; j++) {
        yValues[j] = "[[${Questionnaire.getQuestionList()[0].getAnswers()}]]".filter(function (x){
            return x === xValues[j]
        }).length
    }
    console.log(yValues)
    new Chart("myChart", {
     type: "pie",
      data: {
       labels: xValues,
         datasets: [{
          backgroundColor: barColors,
            data: yValues
            }]
          },
    options: {
        title: {
            display: true,
            text: "Question"
        }
    }
    });



</script>
<div th:if="${isEmpty}">
    <h1>You have no question, please go back to the main page!</h1>
    <input type=button value="Main Page"><a th:href="@{/home}"></a>
</div>
<div th:if="${not isEmpty}">
    <h1 th:text="${Questionnaire.id+' : '+Questionnaire.name}"></h1>
    <ol>
        <div th:each="question: ${Questionnaire.getQuestionList()}">
            <li><p th:text="${question.question}"></p></li>
            <ul>
                <div th:each="answer:${question.getAnswers()}">
                    <li><p th:text="${answer}"></p></li>
                </div>
            </ul>
        </div>
    </ol>
</div>
</body>
</html>