<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User And Questionnaire</title>
</head>
<body>
        <p th:text="${User.id}"></p>
        <table id="userQuestionnaire">
            <tr th:each="Survey : ${User.questionnaire}">
                <td th:text="${Survey.id}"></td>
                <td th:if = "not ${Survey.isClosed()}"><form th:action="@{'/display/' + ${Survey.id}}" method="post" path="/display/{id}"><input type=submit value="Close"></form></td>
                <td th:if = "${Survey.isClosed()}"><a href="/home"><input type=button value="Result"></a></td>
            </tr>
        </table>
</body>
</html>

